body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.main-vizualizar {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(100vw - 5%);
    padding: 0 8% 0 19%;
    overflow: hidden;
 }

 .main-center {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 1%;
    margin-bottom: 50px;
}

header {
    padding-top: 1.5%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.userDrop{
    display: flex;
}

.xp {
    background: var(--tertiary-color);
    border-radius: 20px;
    padding: 2px 5px;
    margin-top: 10px;
    width: 70px;
    text-align: center;
    margin-bottom: 3%;
    margin-left: 10px;
    font-weight: 500;
}

.nome {
    color: var(--font-color);
    font-weight: 500;
    margin-left: 5px;
}

.xpmenu{
    margin-bottom: 5px;
}

header .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 40vw;
}

.search-input {
    padding-right: 35px; 
    height: 45px;
    background-color: var(--quaternary-color);
    border-radius: 14px;
}

#icon2 {
    position: absolute;
    top: 27px;
    right: 20px;
    transform: translateY(-50%);
    fill: var(--font-color); 
}

.search-input::placeholder{
    color: var(--font-color);
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
}

.icon-user {
    margin-left: 30px;
    padding: 8px 0px 0px 14px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: var(--user-color);
    box-shadow: 0px 2px 6px var(--shadown-color);
}

.dropdown {
    padding: 12px;
}

.dropbtn {
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    padding: 5%;
    display: none;
    position: absolute;
    background-color: var(--quaternary-color);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
    z-index: 1;
    border-radius: 20px;
    left: -50px; 
    right: auto; 
}
.dropdown-content a {
    color: var(--font-color);
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: block;
}

hr{
    margin: 0;
}

.resultado {
    display: flex;
    margin: auto;
    width: 44vw;
    height: 4vh;
    background-color: var(--quaternary-color);
    border-radius: 5px;
    margin-right: 35%;
}

.resultado input {
    background: none;
    box-shadow: none;
}

.resultado input::placeholder {
    color: var(--font-color);
    font-weight: 500;
}

#info {
    padding-top: 6%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.transacoes {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.positivo {
    color: var(--positive-color) !important;
  }
  
  .negativo {
    color: var(--negative-color) !important;
  }

.titulo {
    background-color:  var(--secondary-color) !important;
}

.titulo label{
    text-align: center;
    border: 5px solid var(--font-color);
    background-color: var(--font-color);
    border-radius: 5px; 
    color: var(--secondary-color)!important;
}

#scroll{
    overflow-y: auto;
    height: 42vh;
    overflow-x: hidden;
    width: 70%;
}

.busca {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 2%;
}

.data, .pesquisa{
    display: flex;
    width: 40%;
    height: 50px;
    background: var(--quaternary-color);
    align-items: center;
    border-radius: 10px;
    position: relative;
}

input[type="date"] {
    height: 34px;
    width: 38%;
    background: var(--quaternary-color);
    border: solid 0.5px;
    color: var(--font-color);
}

.data svg {
    color: var(--font-color);
    margin-left: 5%;
    margin-right: 5%;
}
.data input{
    margin-left: 3%;
    width: 55%;
    padding-left: 5px;
    border-radius: 10px;
}

.data label{
    font-weight: 600;
}

.data {
    width: 40% !important;
}

#icon {
    position: absolute;
    top: 35px;
    right: 20px;
    transform: translateY(-50%);
    fill: var(--font-color); 
}

.search-input2 {
    background: var(--quaternary-color);
    border: none;
    padding-right: 35px; 
    height: 45px;
    border-radius: 10px;
}

.search-input2::placeholder {
    color: var(--font-color);
    padding-left: 20px;
    font-weight: 600;
}

h2 {

    color: var(--font-color);
    font-weight: 700;
}

#btnAdicionar {
    padding-left: 12%;
    width: 50%;
    display: flex;
    justify-content: end;
} 

.adicionar svg {
    color: var(--secondary-color);
}

.adicionar {
    padding: 0;
    width: 180px;
    color: var(--secondary-color);
    font-weight: 500;
    background-color: var(--font-color);
}

#titulo {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}

.resumo {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 2%;
    width: 68%;
}

.geral h4 {
    height: 55px;
    padding: 0px 5%;
    width: 100%;
    border-radius: 25px;
    background: linear-gradient(120deg, var(--gradient1-color) 40%, var(--gradient2-color));
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.geral label {
    height: 55px;
    padding: 0px 5%;
    width: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
}


.transacao {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--user-color);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 2%;
}

#descricao {
    width: 40%;
    margin-left:1%;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 3%;
    text-align: center;
}

#valor {
    width: 20%;
    margin-right: 3%;
    text-align: center;
    white-space: nowrap;
}

#categoria {
    width: 20%;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 3%;
    text-align: center;
}

#data {
    width: 20%;
    text-align: center;
}

.transacao label {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color)
}

#frase label {
    color:var(--gradient2-color);
    font-weight: 650;
    font-size: 20px;
    margin-bottom: 1%;
}

#frase {
    margin-left: 2%;
}


.tabela {
    border-radius: 22px;
    box-shadow: 0px 4px 8px var(--secondShadow-color);
    cursor: pointer;
    width: 32%;
}


.ativo {
    background-color: var(--user-color); 
}

.filtroData {
    width: 100%;
    display: flex;
    right: 21%;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .dropdown {
        padding: 12px 50px 12px 12px;
    }

    .geral h4 {    
        height: 45px;
    }

}

@media screen and (max-width: 1100px) {
    .filtroData {
        width: 200px;
        font-size: 14px;
    }

    .dropdown {
        padding-right: 0;
    }

    .geral h4 {    
        height: 40px;
        font-size: 20px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 900px) {
    #icon2 {
        width: 16px;
        height: auto;
        right: 18px;
    }

    .search-input2 {
        padding-right: 30px; 
        height: 30px;
        border-radius: 10px;
    }
    
    .search-input2::placeholder {
        color: var(--font-color);
        padding-left: 18px;
        font-weight: 600;
        font-size: 14px;
    }

    .data svg {
        width: 18px;
        height: 18px;
    }

    .filtroData label {
        font-size: 14px;
        font-weight: 500;
    }

    .filtroData {
        width: 160px;
        font-size: 12px;
    }
    #valor {
        width: 22%;
    }

    #icon {
        transform: translateY(-10%);
    }

    .geral label {
        font-size: 20px;
    }

    #btnAdicionar {
        padding-left: 0;
    }

    #info h2 {
        white-space: nowrap;
    }
}

@media screen and (max-width: 750px) {
    .form-control {
        font-size: 15px;
    }

    #info h2 {
        font-size: 22px;
    }

    #icon {
        transform: translateY(-50%);
    }

    .main-vizualizar {
        padding: 0 2% 0 9%;
    }

    .main-center {
        width: 118vw;
    }

    .tabela {
        margin-right: 20px;
    }

    .resumo {
        margin-left: 10px;
    }

    header {
        padding-top: 20px;
    }

}

@media screen and (max-width: 660px) {
    .busca {
        height: 106px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin-top: 2%;
        align-items: center;
    }
    
    .data {
        width: 70% !important;
    }

    #icon {
        transform: translateY(10%);
    }
    
    .data, .pesquisa {
        display: flex;
        width: 70%;
        height: 50px;
    }
    
    .filtroData {
            width: 160px;
            font-size: 16px;
    }

    .data input {
        width: 74%;
    }

    .pesquisa #icon2 {
        right: 34px;
    }

    .transacao label {
        font-size: 16px;
    }

    .geral label {
        font-size: 20px;
    }

    .tabela h4 {
        font-size: 18px;
    }

    #info h2,
    .search-container {
        margin-left: 20px;
    }

    .search-container input {
        width: 90%;
        height: 50%;
        padding-left: 15px;
    }

    .search-container input::placeholder {
        font-size: 15px;
    }

    #icon {
        width: 16px;
        height: auto;
        right: 30px;
        top: 25px;
    }

    header {
        padding-top: 4%;
    }
}

@media screen and (max-width: 580px) {
    .search-container input {
        width: 180px;
        height: 35px;
        padding-right: 10px;
    }

    .search-container input::placeholder {
        font-size: 13px;
        position: relative;
        right: 20px;
    }

    #icon {
        right: 30px;
        top: 35px;
    }

    .icon-user {
        margin-left: 0;
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    .icon-user img {
        width: 40px;
        height: auto;
    }

    .adicionar {
        width: 150px;
        font-weight: 500;
        font-size: 13px;
        height: 35px;
    }

    #icon {
        transform: translateY(-50%);
    }

    .tabela {
        margin-right: 10px;
    }

    .geral h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    .resumo[_ngcontent-ng-c3725166285] {
        flex-wrap: wrap;
    }

    .tabela {
        width: 45%;
        margin-bottom: 2%;
    }

    .transacao label {
        font-size: 14px;
    }

    .search-container input {
        width: 180px;
        height: 35px;
        padding-right: 10px;
    }

    #icon {
        right: 20px;
    }

    .dropdown {
        padding-right: 0;
    }

    .dropbtn {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
    }

    .icon-user {
        margin-top: 5px;
        width: 55px;
        height: 55px;
        align-items: center;
    }

    .icon-user img {
        width: 35px;
        height: auto;
        justify-content: center;
        margin: 0;
        align-self: center;
    }

    .dropdown-content {
        font-size: 12px;
        min-width: 180px;
        left: -80px; 
        
        right: auto; 
    }

    .geral label {
        font-size: 17px;
    }
}

@media screen and (max-width: 470px) {
    .search-container input {
        width: 160px;
        height: 35px;
        padding-right: 10px;
    }

    #icon {
        right: 20px;
    }

    .dropdown {
        padding-right: 0;
    }

    .dropbtn {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
    }

    .icon-user {
        margin-top: 5px;
        width: 55px;
        height: 55px;
        
        align-items: center;
    }

    .icon-user img {
        width: 35px;
        height: auto;
        justify-content: center;
        margin: 0;
        align-self: center;
    }

    .data {
        width: 70% !important;
    }
    
    .data, .pesquisa {
        display: flex;
        width: 70%;
        height: 50px;
    }
    
    .filtroData {
        width: 120px;
        font-size: 14px;
    }

    .data input {
        width: 70%;
        font-size: 10px;
    }

    .transacao label {
        font-size: 12px;
    }

    .search-container input::placeholder {
        font-size: 12px;
        position: relative;
        right: 20px;
    }

    .pesquisa input {
        font-size: 10px;
    }

    .main-vizualizar {
        padding: 0 2% 0px 9%;
    }

    #scroll {
        width: 74%;
    }
    .geral label {
        font-size: 16px;
    }

    #info h2 {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 30px;
    }

    .btn.adicionar {
        margin-bottom: 10px;
    }

    header {
        padding-top: 15px;
    }
}