<div class="alert-container">
    <app-alertas #alertaCadastro></app-alertas>
</div>
<div class="main-redefinir">

    <div class="left-redefinir">
        <img src="/assets/cadastrarImg.png" alt="Imagem padão">
    </div>
    <div class="box-voltar">
        <a class="voltar" href="login">
            <img class="voltar-img" src="./assets/voltar_branco.png" alt="Seta de voltar">
            Login
        </a>
    </div>
    <div class="right-redefinir">
        <a href="">
            <img class="logo" src="assets/logoRemember.png" alt="logo do site" width="100px" height="80px">
        </a>
        <h2>Redefinir Senha</h2>
        <p>Informe a nova senha. </p>
        <form [formGroup]="formSenha">
            <div class="mb-4 senha">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" placeholder="Digite sua senha" formControlName="senha" [ngClass]="mostrarCSS('senha')" minlength="5">
            </div>

            <div class="mb-4 senha">
                <label class="form-label">Confirmar senha</label>
                <input type="password" class="form-control" placeholder="Confirme sua senha"
                    formControlName="senhaconfirmada" [ngClass]="mostrarCSS('senhaconfirmada')" minlength="5">
            </div>

            <div class="redefinir">
                <input class="btnRedefinir" type="submit" value="Redefinir Senha" (click)="salvar()">
            </div>
        </form>
    </div>
</div>