body {
    margin: 0;
    padding: 0;
}

.main-redefinir {
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.left-redefinir img {
    height: auto; 
    max-width: 100%;
    object-fit: contain;
}

.left-redefinir {
    width: 100%;
    height: 100%; 
    background-color: var(--tertiary-color); 
    height: 100vh;
    display: flex;
}

.right-redefinir {
    position: absolute;
    top: 0; 
    right: 0; 
    width: 50%; 
    padding: 1% 12% 1% 12%;
    background-color: var(--secondary-color);
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-redefinir img{
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 5px;
}

.right-redefinir h2 {
    font-weight:700;
    text-align: center;
}

.right-redefinir p {
    padding-bottom: 5%;
    justify-content: center;
    text-align: center;
}

.redefinir {
    margin-top: 15%;
    bottom: 10px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items:center
}

.btnRedefinir{
    text-align: center;
    width: 380px; 
    font-size: 18px; 
    padding: 10px 30px; 
    background-color: var(--primary-color);
    border-radius: 15px;
    color:var(--secondary-color);
    border: none;
    box-shadow: 0px 2px 4px var(--shadown-color); 
}

.form-control {
    border-radius: 15px;
    background-color: var(--input-color);
}

.form-label {
    font-weight:500;
}

.input-erro {
    border: 2px solid #ff000080; 
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.3);
}

.box-voltar {
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
    height: 47px;
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 15px;
    align-content: center;
    z-index: 2;
    box-shadow: 0px 2px 4px var(--shadown-color);
    left: 0;
    top: 0;
}

.voltar {
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    margin-left: 2px;
    text-decoration: none;
    color: var(--secondary-color);
    line-height: 35px;
}

.voltar-img {
    width: 36px;
    height: 36px;
}


@media screen and (max-width: 1400px){
    .left-redefinir img {
        width: 70%; 
        height: auto; 
        object-fit: cover; 
    }
}

 @media screen and (max-width: 1200px){
    .left-redefinir img {
        width: 69%;
    }
}  

@media screen and (max-width: 1150px){
    .left-redefinir img {
        width: 68%;
    }
}  

@media screen and (max-width: 1100px){
    
    .right-redefinir {
        width: 100%; 
        align-items: normal;
        
    } 

    .btnRedefinir{
        width: 50%; 
        font-size: 20px;
        font-weight: 600; 
        height: 65px;
        padding-top: 0; 
        border-radius: 10px;    
        bottom: 20%;
        position: relative;
        line-height: 70px;
    }
    
    .form-control {
        border-radius: 10px;
        width: 50%; 
        height: 45px;
        margin: auto;
        justify-content: center; 
        background-color: var(--input-color);
    }

    .right-redefinir img {
        width: 120px;
        height: auto;
        position: static;
        margin-top: 20px;
        margin-bottom: px;
        align-self: center;
        display: flex;
        margin: 0 auto;
    }
    
    h2 {
        margin-top: 30px;
    } 

    .form-label {
        margin: auto;
        left: 25%;
        position: relative;
        margin-top: 5px;
    }
    
    .right-redefinir {
        flex-direction: column;
        display: flex;
    }

    .right-redefinir a{
        display: flex;
        margin: 0 auto;
        width: 120px;
        height: auto;
    }

    .redefinir {
        padding-bottom: 20px;
    }

    .voltar {
        font-size: 16px;
        line-height: 35px;
    }
    
    .voltar-img {
        width: 30px;
        height: 30px;
        position: relative;
        top:2px;

    }

    .box-voltar {
        width: 85px;
        height: 40px;

    }

}  

@media screen and (max-width: 950px){

    .btnRedefinir{
        width: 50%; 
    }
    
    .form-control {
        width: 50%; 
    }

    .form-label {
        left: 25%;
    }

}    

@media screen and (max-width: 850px){

    .btnRedefinir{
        width: 60%; 
    }
    
    .form-control {
        width: 60%; 
    }

    .form-label {
        left: 20%;
    }
}    

@media screen and (max-width: 767px){

    .btnRedefinir{
        width: 70%; 

    }
    
    .form-control {
        width: 70%; 
    }

    .form-label {
        left: 15%;
    }

}    

@media screen and (min-width: 320px) and (max-width: 480px){

    .btnRedefinir{
        width: 100%; 
        height: 50px;
        font-size: 16px;
        border-radius: 7px;
        line-height: 50px;
    }
    
    .form-control {
        width: 100%; 
        height: 50px;
        border-radius: 7px;
        font-size: 15px;
    }

    .form-label {
        left: 0;
        margin: 0;
        font-size: 15px;
    }

    .right-redefinir img {
        width: 90px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .right-redefinir a{
        display: flex;
        margin: 0 auto;
        width: 90px;
        height: auto;
    }

    .form-control::placeholder {
        font-size: 14px;
    }

    .box-voltar {
        width: 0;
    }
}    
