body {
    margin: 0;
    padding: 0;
}

.main-senha {
    margin:auto;
    display: flex;
}

.left-senha img {
    width: 100%;
    height: auto; 
}

.img-senha {
    margin-top: auto;
}

.left-senha {
    width: 50%;
    height: 100%; 
    background-color: #D9E4F6; 
    height: 100vh;
    display: flex;
}

.right-senha {
    margin: auto;
    top: 0; 
    right: 0; 
    width: 50%; 
    height: 100%; 
    padding: 1% 12% 1% 12%;
}

.right-senha h2 {
    font-weight:600;
    text-align: center;
}

.right-senha p {
    padding-bottom: 5%;
    justify-content: center;
    text-align: center;
}

.right-senha #info {
    font-size: 13px;
    text-align: justify;
}

.right-senha h2 {
    font-weight:700;
    text-align: center;
}

.right-senha img{
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 5px;
}

.entrar {
    margin-top: 15%;
    bottom: 10px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items:center
}

.btnEntrar{
    text-align: center;
    width: 380px; 
    font-size: 18px; 
    padding: 10px 30px; 
    background-color:#5189DD;
    border-radius: 15px;
    color:white;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
}

.form-control {
    border-radius: 15px;
    background-color: #E9EFF9;
}

.form-label {
    font-weight:500;
}