<div class="main-senha">
    <div class="left-senha">
        <img src="/assets/cadatrarImg.png" alt="Imagem padão" >    
    </div>
    <div class="right-senha">
        <img src="assets/logoRemember.png" alt="logo do site" width="100px" height="80px">  
        <form action="">
        <h2>Redefinir Senha</h2>
        <p>Preencha o dado abaixo para solicitar a recuperação de senha.</p>
                
        <div class="mb-3 email">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" placeholder="Digite seu e-mail">
        </div>
        <p id="info">Você irá receber um e-mail no endereço informado acima contendo o procedimento para criar uma nova senha para esse usuário</p>
        <div class="entrar">
            <input class="btnEntrar" type="submit" value="Entrar">
        </div>
        </form>
    </div> 
</div>
