<app-modal></app-modal>
<nav class="menu-lateral">
    <div class="btn-expandir">
        <img class="icone-aba" id="btn-exp" src="./assets/menu.svg" alt="Ícone menu">
        <img class="icone-remember" src="./assets/icone-remember.svg" alt="Ícone menu">
    </div>
    <ul>
        <li class="item-menu">
            <a href="home">
                <div class="box-selecao">
                    <span class="icon"><img src="./assets/home.svg" alt="Ícone adicionar tarefas"></span>
                </div>
                <span class="txt-link">Home</span>
            </a>

        </li>

        <li class="item-menu">
            <a>
                <div class="box-selecao">
                    <span data-bs-toggle="modal" data-bs-target="#exampleModal" class="icon"><img src="./assets/adicionar.svg" alt="Ícone adicionar tarefas"></span>
                </div>
                <span data-bs-toggle="modal" data-bs-target="#exampleModal"  class="txt-link">Adicionar tarefa</span>
            </a>

        </li>

        <li class="item-menu">
            <a href="visualizar-tarefas">
                <div class="box-selecao">
                    <span class="icon"><img src="./assets/lista.svg" alt="Ícone lista de tarefas"></span>
                </div>
                <span class="txt-link">Lista de tarefas</span>
            </a>
        </li>

        <li class="item-menu">
            <a href="">
                <div class="box-selecao">
                    <span class="icon"><img src="./assets/hoje.svg" alt="Ícone hoje"></span>
                </div>
                <span class="txt-link">Hoje</span>
            </a>
        </li>

        <li class="item-menu">
            <a href="">
                <div class="box-selecao">
                    <span class="icon"><img src="./assets/calendario.svg" alt="Ícone calendário"></span>
                </div>
                <span class="txt-link">Calendário</span>
            </a>
        </li>

        <li class="item-menu">
            <a href="">
                <div class="box-selecao">
                    <span class="icon"><img src="./assets/controle.svg" alt="Ícone controle financeiro"></span>
                </div>
                <span class="txt-link">Controle Financeiro</span>
            </a>
        </li>
        <div class="box">
            <li class="item-menu config">
                <a href="configuracoes">
                    <div class="box-selecao" id="configuracoes">
                        <span class="icon"><img src="./assets/configuracoes.svg" alt="Ícone membros"></span>
                    </div>
                    <span class="txt-link">Configurações</span>
                </a>
            </li>

            <li class="item-menu" id="desconectar">
                <a href="" (click)="this.logout()">
                    <div class="box-selecao">
                        <span class="icon"><img src="./assets/desconectar.svg" alt="Ícone membros"></span>
                    </div>
                    <span class="txt-link">Desconectar</span>
                </a>
            </li>
        </div>
    </ul>
</nav>