<div class="main-cadastrar">
    <div class="right-cadastrar">
        <img src="assets/logoRemember.png" alt="logo do site" width="100px" height="80px">
    <form action="">
        <div class="mb-1 nome">
            <label class="form-label">Nome</label>
            <input type="text" name="nome" class="form-control" placeholder="Digite seu nome">
        </div>

        <div class="mb-1 usuario">
            <label class="form-label">Nome de usuário</label>
            <input type="text" class="form-control" placeholder="Digite seu nome de usuário">
        </div>

        <div class="mb-1 email">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" placeholder="Digite seu e-mail">
        </div>

        <div class="mb-1 dataNasc">
            <label class="form-label">Data de nascimento</label>
            <input type="date" class="form-control" placeholder="Digite sua data de nascimento">
        </div>

        <div class="mb-1 telefone">
            <label class="form-label">Telefone</label>
            <input type="text" class="form-control" placeholder="Digite seu telefone">
        </div>

        <div class="mb-1 senha">
            <label class="form-label">Senha</label>
            <input type="password" class="form-control" placeholder="Digite sua senha">
        </div>

        <div class="mb-1 senha">
            <label class="form-label">Confirmar senha</label>
            <input type="password" class="form-control" placeholder="Confirme sua senha">
        </div>
        
        <div class="cadastrar">
            <input class="btnCadastrar" type="submit" value="Cadastrar">
        </div>
    </form>
    </div> 
</div>
