.alerta {
  display: flex;
  align-self: flex-start;
  position: absolute;
  margin-bottom: auto; 
  z-index: 99999; 
  width: 65%;
  margin-top: 50px;
  left: 15%;
  justify-content: center;
}

.alerta span {
  display: flex;
  justify-content: center;
}


