.alerta {
  


}

.alerta-success {
  background-color: #28a745; /* Verde */
}

.alerta-warning {
  background-color: #ffc107; /* Amarelo */
}

.alerta-danger {
  background-color: #dc3545; /* Vermelho */
}

