<div
  class="modal fade"
  id="modalIcon"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Alterar Avatar</h1>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <h4>Meus emblemas</h4>
          <p>A cada 100 XP desbloqueie um novo emblema</p>

          <div class="icons">
            <div class="opcao" *ngFor="let avatar of avatares">
              <button type="button" class="select">
                <div class="icon">
                  <img [id]="avatar.id" [src]="'data:image/jpg;base64,'+avatar.url_foto" alt="" (click)="selectAvatar(avatar.id)" />
                  <div class="xp">{{avatar.qtde_xp}} XP</div>
                </div>
              </button>
            </div>

            <div class="opcao" *ngFor="let n of [].constructor(numDivs); let i = index">
              <div class="bloqueado">
                <img src="assets/cadeado.png" alt="" />
              </div>
            </div>
          </div>
        </form>

        <hr />

        <button (click)="salvarAvatar()" type="button" class="btn btn-success botao"  aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
        </svg> Salvar</button>
      </div>
      <div class="modal-footer custom-modal-footer"></div>
    </div>
  </div>
</div>
