body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden; /* Adicionando esta linha */
}

.main-vizualizar {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

header {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-around;
    padding-left: 11%;
}

.userDrop{
    display: flex;
}

.main-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 45vw;
}

.search-container span svg {
    fill: var(--font-color) !important;
}

.search-input {
    padding-right: 30px; 
    height: 45px;
    background-color: var(--quaternary-color);
    border-radius: 14px;
    color: var(--font-color);
}

#icon {
    position: absolute;
    top: 35px;
    right: 20px;
    transform: translateY(-50%);
    fill: var(--secondary-color); 
}

.search-input::placeholder{
    color: var(--font-color);
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
}

.icon-user {
    margin-left: 30px;
    padding: 8px 0px 0px 14px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: var(--user-color);
    box-shadow: 0px 2px 6px var(--shadown-color);
}

.dropdown {
    padding: 12px;
}

.dropbtn {
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    padding: 5%;
    display: none;
    position: absolute;
    background-color: var(--quaternary-color);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px var(--shadown-color);
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    color: var(--font-color);
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.userDrop{
    display: flex;
}
hr{
    margin: 0;
}

.xp {
    background: var(--tertiary-color);
    border-radius: 20px;
    padding: 2px 5px;
    margin-top: 10px;
    width: 70px;
    text-align: center;
    margin-bottom: 3%;
    margin-left: 10px;
    font-weight: 500;
   
}
.nome{
    color: var(--font-color);
    font-weight: 500;
    margin-left: 5px;
}

.xpmenu{
    margin-bottom: 5px;
}


.boasVindas {
    flex-direction: column;
    display: flex;
    margin-top: 2%;
    margin-left: 18%;
    padding-bottom: 2%;
    width: 100%;
}

h2, h3 {
    color: var(--font-color);
    font-weight: 700;
}

.porcentagem-tarefas {
    height: 110px;
    background-color: var(--quaternary-color);
    border-radius: 20px;
    padding: 4%;
    display: flex;
    align-items: center;
    padding-top: 25px;

}

#texto {
    width: 70%;
    display: flex;
    text-align: center;
    color:var(--font-color);
    font-weight: 600;
    font-size: 18px;
    margin-left: 5%;
}

.porcentagem-tarefas label {
    margin: 3% 10%;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px;
}

.qtde {
    display: flex;
    width: 100%;
    padding-left: 12%;
    padding-right: 5%;
    justify-content: space-evenly;
}


.porcentagemTabela {
    display: flex;
    flex-direction: column;
    width: 35%;
    /* margin-top: 1%; */
    height: 100%;
}


.th {
    background-color: var(--quaternary-color); 
    color: var(--font-color);
    border-radius: 18px;
    padding: 4%;
    text-align: center;
}

.thCategoria {
    background-color: var(--quaternary-color); 
    color: var(--font-color);
    border-radius: 18px;
    padding: 2% 8% 2% 8%;
    margin-bottom: 2%;
    text-align: center;
}


.tabela {
    border: solid 2px  var(--quaternary-color);
    border-radius: 20px;
    width: 100%;
    height: 96%;
}

.table1 {
    border: solid 2px var(--quaternary-color);
    margin-top: 6%;
    border-radius: 20px;
}

#grafico {
    text-align: center;
    display: flex;
    color: var(--font-color);
    width: 45%;
    height: 105%;
}

#titulo {
    width: 62%;
    display: flex;
    flex-direction: column;
}

#titulo label {
    color:#858CA6;
    font-weight: 600;
    font-size: 20px;
}

.rosca label{
    font-size: 20px;
    font-weight: 600;
}

.graficoTexto{
    font-size: 18px;
    font-weight: 600;
}


  

.adicionar {
    padding: 0;
    width: 180px;
    color: var(--secondary-color);
    font-weight: 500;
    background-color: var(--font-color);
    margin-top: 2%;
} 

.tarefasDia {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tarefa {
    width: 70vw;
    background-color: var(--user-color);
    border-radius: 20px;
    margin: 2% 0 1% 6%;
    display: flex;
    align-items: center;
    padding: 1%;
}

.prioridade {
    border-radius: 20px;
    width: 122px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2px;
}

.prioridade#P1 {
    background-color: var(--btnAlta-color);
}

.prioridade#P2 {
    background-color: var(--btnMedia-color);
}

.prioridade#P3 {
    background-color: var(--btnBaixa-color);
}

.form-check-input{
    margin: 4% 6%;
    padding: 10px;
    border-radius: 50%;
}


#statusPrioridade {
    margin-left: auto;
    padding-right: 6%;
}

.nomeCateg {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.status {
    border-radius: 20px;
    border: none;
    padding: 2px;
    margin-bottom: 8px;
    text-align: center;
}

.nomeCateg #nome{
    font-weight: 700;
    color: var(--font-color);
    font-size: 20px;
}

.conteudo {
    width: 100%;
    padding: 2%  4% 2% 4%;
    font-size: 18px;
}

.linha {
    display: flex;
    flex-direction: row;
    padding: 2%; 
}

.linha:not(:last-child) {
    border-bottom: solid 1px var(--font-color);
}

.tabelaStatus {
    width: 80%
}

.riscado {
    text-decoration: line-through var(--primary-color);
}

.bi-exclamation-triangle-fill {
    margin-left: 10px;
    margin-bottom: 3px;
    color: red; 
}

.alerta{
    color:red;
    padding:0;
    margin: 0;
}

.atrasada{
    color:red;
    font-weight: 500;
    display: flex;
    width: 100%;
}
.atrasada svg{
    margin-left: 10%;
    
}
.concluida{
    color:green;
    font-weight: 500;
}

.progresso-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5%;
    position: relative;
  }
  
  .progress-text {
    position: absolute;
    font-size: 1.2em;
    color: var(--font-color);
    font-weight: 700;
  }

  ::ng-deep .ngx-charts text {
    font-size: 16px; 
    font-weight: bold; 
    fill: black !important; 
  }

  ::ng-deep .chart-legend { 
    color: var(--font-color) !important;
    display: flex;
    
    
  }
  
  ::ng-deep .chart-legend .legend-title-text {
    text-align: center;
    margin-right: 20%;
  }

  ::ng-deep .chart-legend .legend-label-text {
    color: black !important;
  }
  
  circle-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    position: relative;
}



.chart-wrapper {
    display: block;
    text-align: center;
    height: 50%; 
}

ngx-charts-pie-chart {
    display: inline-block;
    margin: auto;
    width: 570px;
    height: 330px; 
}

.xp2 {
    background: var(--tertiary-color);
    border-radius: 20px;
    width: 130px;
    height: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding:20px;
    align-items: center;
    display: flex;
    justify-content: center;
    color:var(--font-color)
}

form{
     margin-bottom: 3%;
}

  
/* 
  @media screen and (max-width: 990px) {
    #texto {
        font-size: 15px;
    }
     */
/* 
  } */

  @media screen and (max-width: 950px) {
    .qtde {
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
    }
    .porcentagemTabela {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
  }

    #grafico {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 80%;
        padding-top: 6%;
  }
}

@media screen and (max-width: 1510px) {
    .qtde {
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
    }

    .porcentagemTabela {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        width: 80%;
        height: 60%;
    }

    .porcentagem-tarefas {
        width: 48%;
        height: 50%;
        padding: 2%;
    }

    .table1 {
        width: 48%;
        height: 100%;
        margin-top: 0%;
    }

    #grafico {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        padding-top: 6%;
    }

    .chart-wrapper {
        display: block;
        text-align: center;
        height: 50%; 
    }
  
    ngx-charts-pie-chart {
        display: inline-block;
        margin: auto;
        width: 570px;
        height: 330px; 
    }

    .boasVindas {
        margin-left: 18%;
        padding-bottom: 2%;
    }
}

@media screen and (max-width: 850px) {
    .qtde {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
    .porcentagemTabela {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 42%;
    }
    .porcentagem-tarefas {
        width: 80%;
        height: 25%;
        padding: 2%;
        margin-bottom: 4%;
    }
    .table1 {
        width: 80%;
        height: 70%;
        margin-top: 0%;
    }

    #grafico {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 45%;
        padding-top: 6%;
    }
    .boasVindas {

        padding-bottom: 0%;
    }
    .chart-wrapper {
        display: block;
        text-align: center;
        height: 50%; 
    }
  
    ngx-charts-pie-chart {
        margin: auto;
        width: 570px;
        height: 330px; 
    }
    #titulo {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .tarefa {
        width: 80vw;
        margin: 2% 0 1% 2%;
    }
}

