body {
    margin: 0px;
    display: flex;
    min-height: 100vh;
}

.main-vizualizar {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vw;
}

header {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center; 
}
.main-center {
    /* flex: 1;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    justify-content: center;
    flex-direction: column;  */
}

header .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 40vw;
}

.search-input {
    padding-right: 35px; 
    height: 45px;
    background-color: var(--quaternary-color);
    border-radius: 14px;
}

#icon {
    position: absolute;
    top: 35px;
    right: 20px;
    transform: translateY(-50%);
    fill: var(--secondary-color); 
}

.search-input::placeholder{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
}

.icon-user {
    margin-left: 30px;
    padding: 8px 0px 0px 14px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: var(--user-color);
    box-shadow: 0px 2px 6px var(--shadown-color);
}

.dropdown {
    padding: 12px;
}

.dropbtn {
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-weight: 500;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    padding:20px 0px 5px 10px;
    display: none;
    position: absolute;
    background-color: var(--quaternary-color);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px var(--shadown-color);
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    color: var(--font-color);
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.resultado {
    display: flex;
    margin: auto;
    width: 50vw;
    height: 7vh;
    background-color: var(--quaternary-color);
    border-radius: 4px;
}

.resultado input {
    background: none;
    box-shadow: none;
}

#info {
    display: flex;
    justify-content: space-evenly;
}

#tarefas {
    padding-top: 2%;
    width: 50vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    
}

.tarefa {
    width: 50vw;
    height: 15vh;
    background-color: var(--user-color);
    border-radius: 20px;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}

.btn.prioridade {
    border-radius: 20px;
    margin-right: 1rem;
    width: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
}

.btn.prioridade#alta {
    background-color: var(--btnAlta-color);
}

.form-check-input{
    margin: 4% 6%;
    padding: 10px;
    border-radius: 50%;
}


.statusPrioridade {
    padding-left: 50%;
    display: flex;
    flex-direction: column;
}

.nomeCateg {
    display: flex;
    flex-direction: column;
}

#status {
    border-radius: 20px;
    border: none;
    padding: 2px;
}