.modal-dialog{
    max-width: 45%;
    border: 10rem solid  var(--modal-color);
}

.modal-content{
    background: linear-gradient(120deg, var(--gradient1-color) 40%, var(--gradient2-color));
    border:none;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

h1 {
    color: var(--secondary-color);
}

.modal-body {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 5%;
}

form {
    border-radius: 20px;
}

.modal {
    padding: 5% 10%;
}

.modal-footer {
    padding: 3%;
    border-top: none;
}

.modal-header{
    border-bottom: none;
}

body {
    font-family: sans-serif;
}

.botaoCadastro{
    color: var(--secondary-color);
    background: var(--font-color);
}

.botaoCadastro:hover{
    background: var(--buttonHover-color);
}

.botao {
    width: 30%;
    height: 45px;
    font-weight: 600;
}

.botao svg{
    margin-right:3%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8%;
}

.descricao {
    width: 100%;
    background: var(--tertiary-color);
    height: 45px;
    display: flex;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

#descricaoInput {
    width: 100%;
    border: none;
    background: none;

}

#descricaoInput::placeholder{
    color: var(--base-color);
}

#descricaoInput:hover {
    border: none;
}

#categoria {
    width: 69%;
    border: none;
    background: none;
    background: var(--tertiary-color);
    height: 45px;
    border-radius: 8px;
    padding: 10px;
    margin-right: 1%;
    
}

#valor {
    width: 40%;
    border: none;
    background: none;
    background: var(--tertiary-color);
    height: 45px;
    border-radius: 8px;
    padding: 10px;
}
#data input{
    background: var(--tertiary-color);
}
#data {
    height: 45px;
    border-radius: 8px;
    background: var(--tertiary-color);
}

#categoria input {
    width: 100%;
    border: none;
    background: none;
}

#valor input {
    width: 100%;
    border: none;
    background: none;
}

#categoria input::placeholder {
    color: var(--base-color);
}

#valor input::placeholder {
    color: var(--base-color);
}

.linha, .bloco {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

input:focus {
    outline: none;
}

.entrada {
    background-color: var(--income-color);
    color: var(--base-color);
    font-weight: 630;
}

.saida {
    background-color: var(--expense-color);
    color: var(--base-color);
    font-weight: 630;
}

.entrada svg, .saida svg{
    margin-right: 7%;
    font-weight: 700;
}
.entradaSaida input[type="radio"] {
    display: none;
  }

.entradaSaida input[type="radio"]:checked + label {
    border: var(--font-color) 2px solid;
  }

#labelData{
margin-left: 1%;
display: flex;
text-align: center;
color: var(--font-color);
font-weight: 600;
}
  
.btn {
    width: 49%;
    font-size: 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entradaSaida {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 59%;
}


@media screen and (max-width: 1200px) {

    .modal-dialog{
        max-width: 60%;
        border: 10rem solid  var(--modal-color);
    }
}

@media screen and (max-width: 1010px) {

    .modal-dialog{
        max-width: 80%;
        border: 10rem solid  var(--modal-color);
    }
}

@media screen and (max-width: 820px) {

    .modal-dialog{
        max-width: 100%;
        border: 10rem solid  var(--modal-color);
    }
}

@media screen and (max-width: 600px) {

    .linha {
        display: flex;
       flex-direction: column;
    }
}
